<h1>
  playlist-detail works!
</h1>

<div class="playlist-detail" *ngIf="playlist && loaded">
	<img src={{playlist.images[0].url}}>
	<h2 class="playlist-title">{{playlist.name}}</h2>

	<!-- <input *ngIf="config.filtering" placeholder="&#xf002;"
	     [ngTableFiltering]="config.filtering"
	     (tableChanged)="onChangeTable(config)"/>
	     
	<ng-table [config]="config"
	         (tableChanged)="onChangeTable(config)"
	         [rows]="rows" [columns]="columns">
	</ng-table> -->
	<button (click)="goBack()">Back</button>
</div>

<div *ngIf="!loaded" class="load-wrapp">
    <div class="load-9">
        <div class="spinner">
            <div class="bubble-1"></div>
            <div class="bubble-2"></div>
         </div>
    </div>
</div>