<h1>
  playlists works!
</h1>

<div class="playlist-nav">
	<!-- <input *ngIf="config.filtering" placeholder="&#xf002;"
	       [ngTableFiltering]="config.filtering"
	       (tableChanged)="onChangeTable(config)"/> -->

	<!-- <ng-table class="playlists"
		[config]="config"
		(tableChanged)="onChangeTable(config)"
		(rowSelected)="onRowSelect($event)"
		[rows]="rows" [columns]="columns">
	</ng-table> -->
</div>

<!-- <playlist-detail 	
	*ngIf="selectedPlaylist"
	[id]="selectedPlaylist.id"
	[owner]="selectedPlaylist.owner.id">
</playlist-detail> -->
