span.item {
	font-weight: bold;
}

li img {
	width: 200px;
}

.playlists .playlists {
	margin-top: 10px;
}

.playlist span {
	display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playlist-nav {
	width: 20%;
	float: left;
	overflow-y: scroll;
	height: 100vh;
	position: fixed;
	left: 0;
}

.mat-input-element.mat-form-field-autofill-control {
    width: 20%;
    float: left;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}
  